* {
    margin: 0;
    padding: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    box-shadow: 0 0 10px #ff6f00, 0 0 40px #ff6f00, 0 0 100px #ff6f00;
    background-color: #ff6f00;
    color: black;
    transition-delay: 0.10s;
}