asgiref==3.7.2
cfgv==3.4.0
distlib==0.3.8
Django==5.0.1
django-cors-headers==4.3.1
djangorestframework==3.14.0
filelock==3.13.1
identify==2.5.33
nodeenv==1.8.0
numpy==1.26.3
opencv-python==4.9.0.80
platformdirs==4.1.0
pre-commit==3.6.0
pytz==2023.3.post1
PyYAML==6.0.1
setuptools==69.0.2
sqlparse==0.4.4
uuid==1.30
virtualenv==20.25.0
