* {
    margin: 0;
    padding: 0;
    box-sizing : border-box;
    
}


/* navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #ffffff;
    background: radial-gradient(#b1b1b1, #787879);
    position: fixed;
    width: 100%;


}

.li-last {

    float: right;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(1, 1, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    box-shadow: 0 0 10px #b9b8b8, 0 0 40px #b9b8b8, 0 0 100px #b9b8b8;
    background-color: #b9b8b8;
    color: black;
    transition-delay: 0.10s;
}




/* main title */
#main_title {
    width: 100%;
    height: auto;
    background: white url(../img/restoran1.png);
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 80vh;
    z-index: -1;
    position: relative; 
    background-repeat: no-repeat;
}

#main_title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}


#main_title h1{
    z-index: 2;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}




#body {
    height: 800px;
}

.text {
    font-size: 20px;
    width: 50%;
    margin-left: 10%;
    padding : 20px 2.5%;
    float: left;
    border: 0px solid white;
}

#text2 {
    font-size: 20px;
    width: 50%;
    margin-right: 10%;
    padding : 20px 2.5%;
    float: right;
    border: 0px solid white;

}
#aside1 {
    width: 20%;
    
    
    float: left;
    margin-top: 20px;
    border:5px solid rgb(120, 120, 120);
    border-radius:15px;
    
}
#aside2 {
    width: 20%;
    float: left;
    margin-top: 20px;
    border:5px solid rgb(120, 120, 120);
    border-radius:15px;
    
}
#aside3 {
    width: 23%;
    float: right;
    margin-top: 25px;
    border:5px solid rgb(120, 120, 120);
    border-radius:15px;
   
}



.title_through {
    text-align: center;
    height: 60px;
    

}



/* CARDS */
.cards {
    height: 500px;
}
.container {
    /* position : relative; */
    width : 450px;
    display : flex;
    /* align-items : center; */
    /* justify-content : center; */
    padding : 45px;  
    float: right;
    padding-bottom: 10px;
    
  }
  
  .container .card {
    position: relative;
    max-width : 300px;
    height : 215px;  
    background-color : #fff;
    margin : 30px 10px;
    padding : 20px 15px;
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }
  .container .card:hover {
    height : 320px;    
  }
  
  
  .container .card .image {
    position : relative;
    width : 260px;
    height : 250px;
    border-radius: 15px;
    top : -40%;
    left: 8px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
  }
  
  .container .card .image img {
    max-width : 100%;
    border: 5px solid #969595;
    border-radius : 15px;
  }
  
  .container .card .content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
  }
  
  .container .card:hover .content {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
  }

               /* FOOTER */

.footer {
    
    height: 200px;
    font-family: Monospace;
    color: white;
    background: #ffffff;
    background: radial-gradient(#b1b7b6, #636668);
    
}

#left_side {
    color: #ffffff;
    width: 25%;
    margin-left: 10%;
    padding : 40px 2.5%;
    float: left;
}

.contact {
    color: #ffffff;

}
.contact:hover {
    color: rgba(255, 255, 255, 0.362);
}

#right_side {
    color: #ffffff;
    width:20%;
    padding: 40px 2.5%;
    margin-right: 10%;
    float: right;

    
}