{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_page.css' %}">
    <title>Main page</title>

</head>
<body>

    <div id="head">
        <ul>         <!-- navbar -->
            <li><a class="nav"href="#">Home</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">About us</a></li>
        
        </ul>
    </div>



    
    <div id="body">


    </div>





    <div id="footer">

    </div>


    
</body>
</html>